
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    <button class="mdl-mini-footer--social-btn social-btn social-btn__github" onclick="window.location.href='https://github.com/{{ site.github_username }}';">
      <span class="visuallyhidden">Github</span>
    </button>
    <button class="mdl-mini-footer--social-btn social-btn social-btn__linkedin" onclick="window.location.href='https://twitter.com/{{ site.twitter_username }}';">
      <span class="visuallyhidden">Linkedin</span>
    </button>
    <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter" onclick="window.location.href='https://www.linkedin.com/in/{{ site.linkedin_username }}';">
      <span class="visuallyhidden">Twitter</span>
    </button>
  </div>
  <div class="mdl-mini-footer--right-section">
    <button class="mdl-mini-footer--social-btn social-btn__share">
      <i class="material-icons" role="presentation">share</i>
      <span class="visuallyhidden">share</span>
    </button>
  </div>
</footer>
